@media screen and (max-width: 400px){
  .section {
    padding: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  footer {
    bottom: 3%;
    right:1rem;
    transform-origin:right;
    transform: rotate(90deg);
  }

  header {
    padding: 0;
  }

  header .header {
    padding: 0 !important;
  }

  .switch-btn{
    width: 50px;
    height: 50px;
  }

  .controlls {
    display: none;
  }

  .section {
    padding: 2rem 2.5rem;
  }

  .ports{
    grid-template-columns: 1fr;
  }

  .main-title{
    h2 {
      font-size: 1.5rem;
      span {
        font-size: 2rem;
      }
      .bg-text {
        top:30%;
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 900px){
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }

  .right-about{
    grid-template-columns: 1fr !important;
    padding-top:  2.5rem;
  }

  .portfolio {
    .port-text {
      padding-top: 2rem;
      gap: 1rem;

      .sort-btn {

        p {
          font-size: 14px;
        }
      }
    }

    .ports{
      grid-template-columns: 1fr 1fr;
    }
  }

  .main-title {
    h2{
      font-size: 3.5rem;
      span {
        font-size: 3.5rem;
      }
    }
  }

  .contact {
    .contact-con {
      flex-direction: column;

      .right-contact {
        margin-left: 0;
        margin-top: 2.5rem;

        .input-2 {
          flex-direction: column;
          
          input:last-child{
            margin-left: 0;
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px){
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    .left-header{
      .h-shape {
        display: none;
      }
  
      .image {
        margin:0 auto !important;
        width: 90%;
      }
    }
  }

  .right-header {
    padding: 10%;
    grid-row: 1;
    width: 100%;
    margin: 0 auto;

    .name {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .about-container {
    grid-template-columns: 1fr;

    .left-about {
      padding: 0;

      p{
        padding-left: 0;
        font-size: 1.3rem;
      }
    }
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 600px){
  .small-controlls{
    display: none;
  }
}

@media screen and (max-width:1200px){
  footer {
    font-size: 12px;
  }
}